*
{
    box-sizing: border-box;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
  {
    min-height:100vh;
    lighting-color:black;
    background-color:beige;
}

.deuxBoutons {
    text-align:center;
    position: absolute;
    top: 40%;
    border: 4px groove blue;
    width: 20%;
    height: 40%;
    border-radius: 50%;
    font-weight:900;
    font-size:30px;
    font-family:Algerian;
    background-color:yellow;
    color:blue;
    transition:1s ease;
}
#debattons
  {
    left:60%;
    padding-top:100px;

}

#questions
  {
    left:20%;
    padding-top:60px;
     
}



